@import "tailwindcss";

@theme {
  --color-primary: #3e2723;

  --breakpoint-xs: 450px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}
